.cal-month-view .cal-cell-top {
  min-height: 78px;
  flex: 1;
}

.cal-month-view .cal-cell-row {
  position: relative;
}

.cal-month-view .cal-cell-row:hover {
  background-color: #fafafa;
}

.cal-month-view .cal-cell {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cal-month-view .cal-day-cell {
  min-height: 80px;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.cal-month-view .cal-event {
  width: auto;
  max-height: 25px;
  overflow: hidden;
  display: block;
  border-radius: 3px;
  background-color: #1976d2;
  color: white;
  padding: 2px 5px;
  margin: 2px;
}

.cal-month-view .cal-event-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}